.Sandbox {
  max-width: 1000px;
  margin: auto;
}

.interactive-editor {
  display: grid;
  margin-top: 1em;
  grid-template-rows: 2em 80% auto;
  grid-template-columns: 50% 25% 25%;
  gap: 5px;
}

.editor-label {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.editor {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.preview-label {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.preview {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  overflow: auto;
  background: #eeeeff;
}

.preview-text {
  padding: 1em;
}

.preview-text p:first-child {
  margin-top: 0;
}

.bmlError {
  font-family: 'Source Code Pro', monospace;
  font-size: 14;
  background: #272822;
  color: #f92672;
}

.rerender-button {
  align-self: start;
}

.save-button {
  align-self: start;
}
